.escrowCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 30rem;
}
.escrowCard .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 18rem;
  background-color: #9e85f9;
  border-radius: 50%;
  font-size: 9rem;
  color: white;
}
.escrowCard h3 {
  font-size: 19px;
  font-family: var(--font-main);
}
.escrowCard p {
  font-size: 16px;
  text-align: center;
  color: #441dcf;
  max-width: 200px;
  font-family: var(--font-sec);
}

@media (max-width: 767px) {
  .escrowCard {
    width: 24rem;
  }
  .escrowCard .icon {
    width: 12rem;
    height: 12rem;
    font-size: 8rem;
  }
}