.logo {
  img {
    width: 190px;
    height: 70px;
  }
}

@media (max-width: 767px) {
.logo {
  img {
    width: 190px;
    height: 70px;
  }
}
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
