.whyEscrow {
  padding: 5rem 0;
  padding-bottom: 14rem;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #d8cff9;
  flex-direction: column;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  margin-bottom: -6rem;
}
.whyEscrow h3 {
  font-size: 4rem;
  color: #291194;
  margin-bottom: 5px;
  font-family: var(--font-main);
}
.whyEscrow p {
  font-size: 1.8rem;
  color: #4b3c8f;
  text-align: center;
  max-width: 60rem;
  margin-bottom: 3rem;
  font-family: var(--font-sec);
}

:global(body.dark) .whyEscrow {
  background-color: #17082b;
}
:global(body.dark) .whyEscrow h3 {
  color: #e2d2ff;
}
:global(body.dark) .whyEscrow p {
  color: #b9a5e4;
}

.esc_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .whyEscrow {
    padding-bottom: 7rem;
  }
  .whyEscrow h3 {
    font-size: 3rem;
  }
  .whyEscrow p {
    font-size: 1.6rem;
  }
}